<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter-mapping>
        <filter-name>AuthenticationFilterForCRUD</filter-name>
        <url-pattern>/khoa_create</url-pattern>
        <url-pattern>/khoa_delete</url-pattern>
        <url-pattern>/khoa_update</url-pattern>
        <url-pattern>/monhoc_create</url-pattern>
        <url-pattern>/monhoc_update</url-pattern>
        <url-pattern>/monhoc_delete</url-pattern>
        <url-pattern>/diem_create</url-pattern>
        <url-pattern>/diem_update</url-pattern>
        <url-pattern>/diem_delete</url-pattern>
        <url-pattern>/sinhvien_create</url-pattern>
        <url-pattern>/sinhvien_update</url-pattern>
        <url-pattern>/sinhvien_delete</url-pattern>
        <url-pattern>/lop_create</url-pattern>
        <url-pattern>/lop_update</url-pattern>
        <url-pattern>/lop_delete</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
    </filter-mapping>
    <servlet>
        <servlet-name>KhoaController</servlet-name>
        <servlet-class>controller.KhoaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentByMaSv</servlet-name>
        <servlet-class>controller.aysnc.GetStudentByMaSv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KhoaController</servlet-name>
        <url-pattern>/khoa</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AuthenticationFilterForCRUD</filter-name>
        <filter-class>Filter.AuthenticationFilterForCRUD</filter-class>
    </filter>
    <servlet-mapping>
        <servlet-name>GetStudentByMaSv</servlet-name>
        <url-pattern>/get-student-by-maSv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
